<div class="container-fluid padding">
    <div class="row padding" *ngIf="food">
        <div class="col-lg-6">
             <img [src]="food.pic" alt="food" class="img-fluid">
        </div>
        <div class="col-lg-6">
            <h2>{{food.dish}}</h2>
            <p> Price: {{food.price}}</p>
            <p>Quantity: {{food.quan}}</p>
            <p>Description: {{food.desc}}</p>
            <p>Expiration Date: {{date}}</p>
            <br>
            <button (click)="chatClicked(food)" class="btn btn-primary">Buy</button>
        </div>
    
    </div>
</div>
